.searcher {
    height: 100%;    
}

.searcher-mask{
    position: fixed;
    z-index: 9998;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   /* background-color: rgba(0, 0, 0, .5); */
      display: table;

   transition: opacity .3s ease;
}

.searcher > input {
   border: none;
   outline: none;
   background-color: rgb(230, 224, 224);
   height: 100%;
   box-sizing: border-box;
   font-size: 1.4rem; 
   padding: 0 5px;
}


 .searcher-wrapper {
   display: table-cell;
   vertical-align: middle;
 }
 
 .searcher-container {
   width: 470px;
   margin: 0px auto;
   background-color: #fff;
   border-radius: 2px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
   transition: all .3s ease;
   font-family: Helvetica, Arial, sans-serif;
   height: 500px;
 }

 .searcher-titlebar{
    background-color: #56b6e6;
    height:40px;  
    text-align: left;
    padding-left:10px;    
}

.searcher-titlebar label {
    color:#000;
    line-height: 40px;
    font-size: 1.4rem;
}

.searcher-titlebar button {
   float: right;
   margin-top: 10px;
   margin-right: 10px;;
 }


 .searcher-header  {
     overflow: auto;
 }
 .searcher-header h3 {
   margin-top: 0;
   color: #42b983;
 }

 .searcher-header p {
     float:left;
     width:80%;

 }

 .searcher-header label{
   height: 30px;
   width:30%;
   float:left;
   font-size: 1.2rem;
   font-weight: bold;
   line-height: 30px;
   background-color:rgba(156, 156, 156, 0.897);
   border: 1px solid #c7c7c7;
   box-sizing: border-box;
 }

 .searcher-header label[for="inputName"]{
    border-bottom: none;
 }

 .searcher-header input{
     outline: none;
     height:30px;
     width:70%;
     float:left;
     box-sizing: border-box;
     background-color: #fff;
     border: 1px solid #c7c7c7;
     border-left:none;
     padding-left:5px;

 }

 .searcher-header input[name="inputName"]{
    border-bottom: none;
}


 .searcher-header button {
    height:60px ;
    width: 19%;
    float: left;
     display: block;
    margin-bottom: 20px;
    text-decoration: none;
    border:1px solid #25729a; 
    /* -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px; */
    font-family:arial, helvetica, sans-serif; 
    padding: 10px 10px 10px 10px; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    text-align: center; 
    color: #FFFFFF; 
    background-color: #3093c7;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3093c7), color-stop(100%, #1c5a85));
    background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
    background-image: linear-gradient(top, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
 }

 
 .searcher-body {
   margin: 0px 15px;
   position: relative;
 }

 .searcher-body p{
    height: 300px;
    overflow:auto;
 }


 .searcher-body table{
    width:100%; 
    font-size: 1.4rem;
 }
 
 .searcher-default-button {
   float: right;
 }
 
 /*
  * The following styles are auto-applied to elements with
  * transition="modal" when their visibility is toggled
  * by Vue.js.
  *
  * You can easily play with the modal transition by editing
  * these styles.
  */
 
 .searcher-enter {
   opacity: 0;
 }
 
 .searcher-leave-active {
   opacity: 0;
 }
 
 .searcher-enter .modal-container,
 .searcher-leave-active .modal-container {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
 }



 .searcher .disabled {
     opacity:0,5;
     filter: alpha(opacity=50);
     cursor:not-allowed;     
 }


.button:hover{
    border:1px solid #1c5675;
    background-color: #26759e;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26759e), color-stop(100%, #133d5b));
    background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
    background-image: -moz-linear-gradient(top, #26759e, #133d5b);
    background-image: -ms-linear-gradient(top, #26759e, #133d5b);
    background-image: -o-linear-gradient(top, #26759e, #133d5b);
    background-image: linear-gradient(top, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}